{% extends 'orders/base.html' %}

{% block title %}Change password successful{% endblock %}

{% block content %}
<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card m-4">
                    <div class="card-body">
                        <h3 class="card-title">Change password successful</h3>
                        <strong>Success!</strong> Your password has been changed!
                        <a href="{% url 'index' %}" class="btn btn-secondary">Return to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}