{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pizza Restaurant website">
    <link rel="shortcut icon" href="{% static 'orders/img/favicon.ico' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'orders/css/business-casual.css' %}">

    <title>{% block title %}{% endblock %} - Pizza Restaurant</title>
</head>

<body>
    {% include 'includes/messages.html' %}

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Pizza</span>
        <span class="site-heading-lower">Restaurant</span>
    </h1>

    {% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Pizza Restaurant</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                {% with request.resolver_match.url_name as url_name %}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4 {% if url_name == 'index' %}active{% endif %}">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item px-lg-4 {% if url_name == 'menu' %}active{% endif %}">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'menu' %}">Menu</a>
                    </li>
                    <li class="nav-item px-lg-4 {% if url_name == 'about' %}active{% endif %}">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item px-lg-4 {% if url_name == 'cart' %}active{% endif %}">
                        <a class="nav-link text-uppercase text-expanded " href="{% url 'cart' %}">Cart <span id="js-orderitems-number" class="badge badge-secondary"> {{ orderitem_list_c|length }} </span></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown border border-dark">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                            <a class="dropdown-item" href="{% url 'orders' %}">My orders</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline ml-auto">
                            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                            <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
                        </form>
                    </li>
                    {% endif %}
                </ul>
                {% endwith %}

            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    {% endblock %}

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">&copy; Pizza Restaurant 2019</p>
        </div>
    </footer>

    <!-- jQuery, Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="{% static 'orders/js/orders.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>