{% extends "orders/base.html" %}

{% load static cart_tags %}

{% block title %}
Order list
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="bg-faded rounded p-5">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Order list</span>
                    </h2>
                    {% if order_list %}
                    <div class="table-responsive">
                        <table class="table table-striped mb-4">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>No.</th>
                                    <th class="text-right">Total</th>
                                    <th class="text-right">Date</th>
                                    <th class="text-right">Status</th>
                                    <th class="text-right">Delivered</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in order_list %}
                                <tr>
                                    <td># {{ order.id }}</td>
                                    <td class="text-right">{{ order.order_time|date:"D d M Y" }}</td>
                                    <td class="text-right">{{ order.total }}</td>
                                    <td class="text-right">{{ order.status }}</td>
                                    <td class="text-right">
                                        {% if order.delivered %}
                                        <i class="fas fa-check"></i>
                                        {% endif %}
                                        </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    {% else %}
                    <div class="row mt-5">
                        <div class="col">
                            <p>You haven't ordered anything yet.</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row mt-5">
                        <div class="col">
                            <a href="{% url 'menu' %}" class="btn btn-outline-secondary">Continue shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}